.rating-container {
  text-align: center;
  margin: 20px;
}

.rating-image {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.rating-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: aqua;
  color: blue;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.li {
  margin-bottom: 10px;
  border-radius: 10px;
  border: 2px solid yellowgreen;
}
span {
  padding: 15px 15px;
  font-size: 20px;
  font-weight: 400;
  color: rgb(57, 152, 180);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.return {
  width: 200px;
  height: 40px;
  border: 1px solid rgb(38, 204, 121);
  border-radius: 10px;
  background-color: rgb(169, 228, 193);
  font-size: 14px;
  color: chocolate;
}
